<p id="notice"><%= notice %></p>

<div class='container'>
  <div class='row'>
    <%= render 'book_view' %>
  </div>

  <div class="">
    <h3>Reviews (<%= @review_items.count %>)</h3>
    <%= render partial: 'reviews', collection: @review_items %>
  </div>
</div>