
<footer class="page-footer">
  <small>
    Clone
    by Freshworks
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",    help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.goodreads.com/">Original</a></li>
    </ul>
  </nav>
</footer>